// i want to create flex based styles for a form that will be used in a bus card

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;

  .bus-date-picker {
    display: flex !important;
  }
}

.form-row.multi-field-row {
    flex-direction: row;
}

//"bus-card-wrapper" class with styles to align div in the middle of view
.bus-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}