.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;

  .bus-date-picker {
    display: flex !important;
  }
}

.form-row.multi-field-row {
    flex-direction: row;
}

.bus-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}